@model Articulo

<h2>Eliminar Articulo</h2>
<form asp-action="Delete" method="post">
    <div class="form-group">
        <label asp-for="Id"></label>
        <input asp-for="Id" class="form-control" readonly />
        <span asp-validation-for="Id" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Descripcion"></label>
        <input asp-for="Descripcion" class="form-control" readonly />
        <span asp-validation-for="Descripcion" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="FechaIngreso"></label>
        <input asp-for="FechaIngreso" class="form-control" readonly />
        <span asp-validation-for="FechaIngreso" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Estado"></label>
        <input type="checkbox" asp-for="Estado" class="form-control" readonly />
        <span asp-validation-for="Estado" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="FechaVencimiento"></label>
        <input asp-for="FechaVencimiento" class="form-control" readonly />
        <span asp-validation-for="FechaVencimiento" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Cantidad"></label>
        <input asp-for="Cantidad" class="form-control" readonly />
        <span asp-validation-for="Cantidad" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Costo"></label>
        <input asp-for="Costo" class="form-control" readonly />
        <span asp-validation-for="Costo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Volver al listado</a>
    </div>
</form>